/* 
INDICE:
00 - CSS RESET
01 - UTILITÀ
02 - FINESTRA PRINCIPALE
03 - SNAKE
*/

/* 00 - CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 01 - UTILITÀ */

.flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.column{
    flex-direction: column;
}

.none {
    display: none;
}
/* PLACEHOLDER NAV E FOOTER */

nav {
    height: 50px;
    background-color: red;
}

footer{
    height: 80px;
    background-color: yellow;
}

.container {
    height: calc(100vh - 130px);
    background-color: pink;
}

/*02 - FINESTRA PRINCIPALE */

.finestra-gioco {
    height: 600px;
    width: 600px;
    background-color: white;
    border: 1px solid black;
    position: relative;
}

.points{
    position: absolute;
    right: 0;
    top: -30px;
}
.btn{
    font-size: 16px;
    padding: 15px 25px;
    background-color: white;
    border-radius: 20px;
    transition: 0.15s ease;
    border: 1px solid grey;
    box-shadow: 4px 4px 4px 4px rgb(154, 117, 123);
    margin: 2px 20px;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.01);
}