/* 
INDICE:
00 - CSS RESET
01 - UTILITÀ
02 - FINESTRA PRINCIPALE
03 - SNAKE
*/

/* 00 - CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(216, 216, 216);
}

/* UTILITÀ  */

@font-face {
  font-family: "Pixeloid";
  src: url("assets/Pixeloid.ttf");
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}
.flex {
  display: flex;
  align-items: center;
}

.column {
  flex-direction: column;
}

.none {
  display: none;
}

/* HEADER =================== */

header {
  background-color: red;
  color: #fff;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 80px;
  height: 80px;
  color: #fff;
  margin-left: 8px;
}

header .search-icon-container {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
    image is black
    with invert(100%)
    becomes white
*/
header .search-icon {
  width: 24px;
  height: 24px;
  filter: invert(100%);
}

footer {
  height: 80px;
  background-color: yellow;
}

.game-container {
  background-color: #8b966e;
  padding: 20px auto;
  border-radius: 50px;
  border: 10px solid #5b6147;
}

/*02 - FINESTRA PRINCIPALE */

.window-container {
  height: 100vh;
  padding: 60px 500px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-window {
  height: 600px;
  width: 600px;
  margin-bottom: 40px;
  background-color: #adb88e;
  border: 4px solid #5a5f48;
  position: relative;
  display: grid;
  grid-template-columns: repeat(18, auto);
}

.game-window .grid-item {
  margin: 2px;
  background-color: #c4d0a2;
  position: relative;
}

.points {
  margin: 30px 100px 0px;
  background-color: #8b966e;
  color: #ffffd9;
  font-size: 20px;
  font-family: "Pixeloid", "Roboto", sans-serif;
}

.btn {
  margin: 0px 5px 5px 5px;
  font-weight: 600;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 15px 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 200px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px 2px rgb(116, 116, 116);
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.005);
}

/* 03 - SNAKE */

.grid-item .snake-body {
  width: 100%;
  height: 100%;
  background-color: #3e4231;
  border-radius: 50%;
  position: relative;
}

.grid-item .snake-body #eyes-img {
  width: 70%;
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.grid-item #fruit-img {
  position: absolute;
  top: 0;
  left: 0;
}

.game-over-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 50px;
  color: rgb(255, 50, 0);
}
